<html >
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>
<body style="background-color: wheat;">
    
    <style>
        #welcome {
    position: absolute;
    top: 25%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);

}
ul.students {
  list-style-type: square;
}

      </style>
<div id="welcome">

  <h3>List of Students</h3>
  <ul class="students">
  <% for(var i=0; i<students.length; i++) {%>
    <li class="students">
      <span><%= " ID: " +students[i].empid+"."%></span>
      <span><%=" Name: " + students[i].empname%></span>
      <span><%=" Sem: " + students[i].empsem%></span>
      <span><%=" Section: " + students[i].empsection%></span>
      <span><%=" Branch: " + students[i].empbranch%></span>

    </li>
  <% } %>
</ul> 
</div>



</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</html>

 




